# Ignore executables
assembler
decoder
emulator

# Ignore test executables
cpu_tests
integration_tests

# Don't ignore directory contents with same name as executables
!assembler/
!emulator/


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
